// Colors
$primary-color-bright-green: #7dfaa4;
$primary-color-deep-purple: #402cac;
$secondary-color-magical-green: #29d37a;
$secondary-color-sky-blue: #53bcf9;
$neutral-color-white: #ffffff;
$neutral-color-dark-blue: #080235;

body {
  background: $neutral-color-dark-blue;
  color: $primary-color-bright-green;
}
