// Colors
$primary-color-bright-green: #7dfaa4;
$primary-color-deep-purple: #402cac;
$secondary-color-magical-green: #29d37a;
$secondary-color-sky-blue: #53bcf9;
$secondary-color-dark-blue: #1e135b;
$neutral-color-white: #ffffff;
$neutral-color-dark-blue: #080235;


$border-gradient-color: linear-gradient(180deg, #7dfaa4 0%, #7856ff 100%);
$background-gradient-color: linear-gradient(180deg, #402cac 0%, #1a1051 100%);
$togglemenu-background-gradient-color: linear-gradient(180deg, #080235 48.04%, rgba(17, 9, 45, 0) 100%);

body {
  background: $neutral-color-dark-blue;
  color: $primary-color-bright-green;
}

:export {
  primaryColorBrightGreen: $primary-color-bright-green;
  primaryColorDeepPurple: $primary-color-deep-purple;
  secondaryColorMagicalGreen: $secondary-color-magical-green;
  secondaryColorSkyBlue: $secondary-color-sky-blue;
  secondaryColorDarkBlue: $secondary-color-dark-blue;
  neutralColorWhite: $neutral-color-white;
  neutralColorDarkBlue: $neutral-color-dark-blue;
  borderGradientColor: $border-gradient-color;
  backgoundGradientColor: $background-gradient-color;
}
