.avatar {
  display: flex;
  height: 110px;
  width: 110px;
  flex-direction: column;
  position: relative;
  .role {
    position: absolute;
    bottom: -20px;
    width: inherit;
    text-align: center;

    svg {
      width: 32px;
      height: 32px;
      border: 1px solid $primary-color-bright-green;
      border-radius: 50%;
      background-color: $primary-color-deep-purple;
      fill: white;
    }
  }
}
