@import './create-account-player';
@import './create-account-recruiter';

.create-account-page-choice {
  display: grid;
  grid-template-columns: 1fr;
  overflow-x: hidden;
  height: 100vh;

  .vr-divider {
    display: none;
  }
}

.create-account-page-container .header-link {
  border: 3px solid #7dfaa4;
  border-radius: 0.5rem;
  margin-left: 2rem;
  padding: 0.25rem 1.2rem;
  text-decoration: none;
  color: #7dfaa4;
}

.create-account-page-container {
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  main {
    display: unset;
    max-width: unset;
    gap: unset;
    grid-template-columns: unset;
  }
}

.create-account-page-container h1 {
  text-align: center;
  padding-bottom: 3rem;
}

.choices-container {
  padding-bottom: 4rem;
}

.choice-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.choice-container img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.choice-container p {
  font-size: 16px;
  background: #7dfaa4;
  border-radius: 10px;
  width: 149px;
  padding: 0.5rem 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.choice-container p:hover {
  background: radial-gradient(105.5% 711.76% at 0% 49.35%, #d7ffe3 0%, rgba(255, 255, 255, 0) 100%) #16ff8c;
}

.choice-container a {
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  .create-account-page-container {
    background-image: url(../../../public/images/backgroundCreateAccount.png); /* fallback */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    main {
      width: 800px;
    }
  }
  .create-account-page-container h1 {
    font-size: 36px;
  }

  .choices-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-evenly;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .vr-divider-create {
    background-image: linear-gradient(
      to bottom,
      rgba(125, 250, 164, 0),
      rgba(125, 250, 164, 1),
      rgba(125, 250, 164, 0)
    );
    padding: 8rem 1px;
  }

  .choice-container {
    padding-bottom: 2rem;
  }

  .choice-container:nth-of-type(1) img {
    margin-bottom: 3rem;
  }

  .choice-container:nth-of-type(2) img {
    margin-bottom: 2rem;
  }
}
