.create-account-page-recruiter {
    display: grid;
    grid-template-columns: 1fr;
    overflow-x: hidden;
  }

  .create-account-page-recruiter .header-link {
    border: 3px solid #7dfaa4;
    border-radius: 0.5rem;
    margin-left: 2rem;
    padding: 0.25rem 1.2rem;
    text-decoration: none;
    color: #7dfaa4;
  }
  
  .create-account-page-recruiter-container {
    grid-column: 1/-1;
    grid-row: 1/-1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  
    h1 {
      color: #7dfaa4;
      font-size: 32px;
      padding-bottom: 3rem;
    }
  }
  
  .create-account-page-recruiter-container form {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    gap: 1rem;
    flex-flow: column nowrap;

    div:nth-of-type(1) label,
      div:nth-of-type(2) label,
      div:nth-of-type(3) label,
      div:nth-of-type(4) label,
      div:nth-of-type(5) label,
      div:nth-of-type(6) label {
        padding-bottom: 0.5rem;
      }
  }
  
  .create-account-page-recruiter-container form div {
    display: flex;
    flex-flow: column nowrap;
  }
  
  .create-account-page-recruiter-container form div:nth-of-type(1) input,
  .create-account-page-recruiter-container form div:nth-of-type(2) input,
  .create-account-page-recruiter-container form div:nth-of-type(3) input,
  .create-account-page-recruiter-container form div:nth-of-type(4) input,
  .create-account-page-recruiter-container form div:nth-of-type(5) input,
  .create-account-page-recruiter-container form div:nth-of-type(6) input {
    box-sizing: border-box;
  
    width: 100%;
    height: 36px;
  
    background: linear-gradient(180deg, #402cac 0%, #1a1051 100%);
    border-radius: 25px;
    color: white;
  
    padding: 1rem;
  }
  
  .have-an-account {
    text-align: center;
    padding-top: 1rem;
    font-size: 12px;
  
    p {
      display: inline;
    }
  
    a {
      color: #7dfaa4;
    }
  }
  
  .create-account-page-recruiter-container a {
    text-decoration: none;
  }
  
  .create-account-button {
    display: flex;
    justify-content: center;
  }
  
  .create-account-button p {
    background-color: #7dfaa4;
    border-radius: 10px;
    width: 205px;
    padding: 0.5rem 0;
    font-weight: bold;
  }
  
  @media screen and (min-width: 600px) {
    .create-account-page-recruiter-container form {
      max-width: 507px;
      gap: 2rem;
    }

    .create-account-page-recruiter-container main {
      display: unset;
      padding: unset;
      max-width: unset;
      margin: unset;
    }
  }
  