@import './plans-page';
@import './player-details-page';
@import './create-account';
@import './player-review';
@import './player-comparison-select-page';
@import './favorites-page';
@import './contact-player';
@import './terms-conditions-page';
@import './faq-page';
@import './help-page';

html {
  scroll-behavior: smooth;
}

.App {
  color: white;

  .radarchart-component {
    margin: 4rem 0 4rem 0;
  }
}

.header-full-size {
  height: 100vh;
  // background-image: radial-gradient(85.99% 85.99% at 47.4% 16.42%, rgba(8, 2, 53, 0.4) 0%, #080235 100%),
  //   url(../../assets/images/background-league-of-legends.png);
  background-image: radial-gradient(85.99% 85.99% at 47.4% 16.42%, rgba(8, 2, 53, 0.4) 0%, #080235 100%),
    url(../../assets/images/background-league-of-legends-animated-gif.gif);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  .down-icon-container {
    align-self: center;
    margin-bottom: 1rem;
    cursor: pointer;
  }
}

.landing-page-container {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1/-1;
  overflow: hidden;
  background: #080235;
}

.landing-page {
  display: grid;
  grid-template-columns: 1fr;
  overflow-x: hidden;
}

.landing-page-info {
  display: flex;
  flex-flow: column;
  max-width: 70%;
  align-self: center;

  h1 {
    color: $primary-color-bright-green;
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 32px;
  }

  p {
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 16px;
  }

  .button {
    align-self: center;
    padding: 1rem;
    height: unset;
  }
}

.landing-page .image-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: rgb(125, 250, 164);
  background: linear-gradient(100deg, rgba(125, 250, 164, 1) 0%, rgba(125, 250, 164, 0.2) 100%);
  border-radius: 0 30px;
  padding: 0.15rem;
  height: fit-content;
}

.feauture-wrapper {
  margin: 0 3rem 0 3rem;
  align-items: center;
  display: flex;
  flex-flow: column;

  @media screen and (min-width: 1000px) {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    text-align: center;
    margin: 1.5rem 0 2rem 0;
  }

  p {
    text-align: center;
  }
}

.section-title {
  margin: 3rem;
}

.landing-page-info .button {
  @include primary-default-button-mobile();
}

.section-title {
  h1 {
    margin-bottom: 3rem;
  }
}

.feauture-container-right,
.feauture-container-left {
  margin-bottom: 8rem;
}

// table container
.table-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  h1,
  button {
    margin: 5rem 0 5rem 0;
  }
}

// Accordion Component
.accordion-wrapper {
  display: flex;
  flex-flow: column nowrap;
  background: #402cac;
  border: 3px solid $primary-color-bright-green;
  border-radius: 10px;
  padding: 1.5rem 1rem;
  margin-bottom: 0.5rem;

  .up-down-btn {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
  }
}
// End Accordion Component

// Toast Component
.toast-background {
  height: auto;
  opacity: 0.1;
  overflow-y: hidden;
}

.toast {
  background: $border-gradient-color;
  padding: 2px;
  border-radius: 25px;
  display: flex;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}

.toast-wrapper {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  background: $background-gradient-color;
  border-radius: 25px;
  padding: 1rem;
  justify-content: center;
  align-items: center;

  svg {
    margin: 1rem 0.5rem;
  }

  .button {
    margin: 1rem 0 1rem 0;
    width: auto;
    height: 50px;
    padding: 0 1.5rem;
  }

  .toast-cta-btn {
    align-self: flex-end;
  }
}
// End Toast Component

@media screen and (min-width: 600px) {
  //header
  .header-full-size {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-size: cover;

    header {
      grid-column: span 2;
    }

    .landing-page-info {
      grid-column: 2/3;
      max-width: 70%;
      align-self: center;

      h1 {
        margin-bottom: 2rem;
        color: white;
        text-align: left;
      }

      p {
        margin-bottom: 2rem;
        text-align: left;
      }

      .button {
        align-self: auto;
      }

      .landing-page-info .button {
        @include primary-default-button-desktop();
      }
    }

    .down-icon-container {
      grid-column: span 2;
      align-items: center;
      align-self: flex-end;
      display: flex;
      justify-content: center;
      padding-bottom: 1rem;
    }
  }

  // features
  .section-title {
    h1 {
      margin-bottom: 8rem;
    }
  }

  .feauture-container-right,
  .feauture-container-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6rem;
    margin-bottom: 8rem;

    h1,
    p {
      text-align: left;
    }

    h1 {
      margin-bottom: 1.5rem;
      margin-top: 0;
    }
  }

  .feauture-container-right .image-container {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  // .image-container img {
  //   max-width: 75%;
  // }

  .feauture-container-right .text-container {
    grid-column: 1/2;
  }

  .text-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  // table container
  .table-wrapper {
    h1,
    button {
      margin: 8rem 0 8rem 0;
    }
  }
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.landing-page {
  .checkIcon path:nth-of-type(2),
  .crossIcon path:nth-of-type(3) {
    display: none;
  }

  .checkIcon {
    transform: scale(1.7);
  }

  .crossIcon {
    transform: scale(1.5);
  }
}
