.login-page {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  .login-page-wrapper {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2rem;
    margin: 0 3rem;
    h1 {
      font-size: 2rem;
    }
  }
  .input,
  .password-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: .2rem;
  }
  .input-wrapper {
    border: 2px solid transparent;
    background-image: linear-gradient(180deg, #7dfaa4 0%, #7856ff 50%, #7dfaa4 100%);
    border-radius: 25px;
  }
  input {
    box-sizing: border-box;
    width: 100%;
    height: 36px;
    background: linear-gradient(180deg, #402cac 0%, #1a1051 100%);
    border-radius: 25px;
    color: white;
    border: 2px solid transparent;
    // background: $border-gradient-color;
  }
  .password-wrapper {
    a {
      text-decoration: none;
    }
  }
  .button {
    margin: 0;
    margin-top: 1rem;
  }
  .new-here-wrapper {
    display: flex;
    gap: .5rem;
    a {
      text-decoration: none;
    }
  }

  @media screen and (min-width: 600px) {
    .input,
    .password-wrapper {
      max-width: 30rem;
      label {
        color: white;
      }
    }
  }
}

.login-page .header-link {
  border: 3px solid #7dfaa4;
  border-radius: 0.5rem;
  display: none;
}
