.player-details-wrapper-1 {
  display: grid;
  grid-template-columns: 1fr;
  overflow-x: hidden;
  padding: 0;
}

.player-details-page-container-1 {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1/-1;
  overflow: hidden;
  padding: 0;
}
.player-details-wrapper-1 main {
  margin-top: 1rem;
  min-width: 270px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.player-information {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 1rem;
  padding-right: 1rem;

  .summoner-division-embled-container {
    .name-division-container h1:nth-child(1) {
      font-size: 26pt;
    }

    .name-division-container h1:nth-child(2) {
      font-size: 13pt;
      letter-spacing: 4px;
    }

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
    align-items: center;
    align-content: center;
  }

  .avatar-icons-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    align-items: flex-start;

    .avatar {
      width: 140px;
      height: 140px;
      img {
        width: 100% !important;
        height: 100% !important;
      }
    }

    .role-like-container {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin-top: 1rem;
      gap: 2rem;

      .background-icon:nth-child(1) {
        width: 38px;
        height: 38px;
        border: 2px solid $primary-color-bright-green;
        border-radius: 50%;
        background-color: $primary-color-deep-purple;
      }
    }
  }

  .secondary:not(.btn-no-background) {
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-width: 190px;
    align-self: center;
  }
}

.player-skills {
  .card {
    margin-bottom: 4rem;
  }

  .card .large {
    margin: 1.5rem 0 1.5rem 0;
  }

  .card-content {
    padding-left: 2rem;
    padding-right: 2rem;

    h1 {
      font-size: 13pt;
      letter-spacing: 4px;
    }

    p {
      font-size: 10pt;
    }
  }

  .progress-bar-container {
    margin-bottom: 1.5rem;
  }

  .progress-bar {
    margin-bottom: 1rem;
  }

  .hr-divider {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(125, 250, 164, 0), rgba(125, 250, 164, 1), rgba(125, 250, 164, 0));
    margin-bottom: 1rem;
  }

  .vr-divider {
    display: none;
  }

  .radar-chart {
    display: none;
  }

  .tag-container {
    display: flex;
    gap: 0.25rem;
    flex-flow: row wrap;

    .tag {
      padding: 1rem 2rem;
    }
  }

  .button {
    margin-top: 3rem;
    margin-bottom: 2rem;
    max-width: 190px;
    align-self: center;
  }
}

.player-game-data {
  .card-content {
    padding-left: 2rem;
    padding-right: 2rem;

    h1 {
      font-size: 15pt;
      letter-spacing: 4px;
    }
  }

  .card h1 {
    margin: 1.5rem 0 0.3rem 0;
    color: $primary-color-bright-green;
  }
  .ranked-info-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    h1 {
      font-family: 'Gothic A1', sans-serif;
      font-size: 16px;
    }

    p {
      font-size: 32px;
      font-weight: 700;
      font-family: 'Chakra Petch', sans-serif;
    }

    .ranked-info-box1 {
      grid-column: span 3;
      margin-bottom: 1.5rem;
      text-align: center;
    }

    .ranked-info-box2 {
      grid-column: 2/3;
      gap: 2rem;
      margin-bottom: 1.5rem;
      display: flex;
      text-align: center;

      .vr-divider {
        border: 0;
        width: 3px;
        height: 100%;
        background-image: linear-gradient(
          to bottom,
          rgba(125, 250, 164, 0),
          rgba(125, 250, 164, 1),
          rgba(125, 250, 164, 0)
        );
        margin-bottom: 1rem;
        margin-top: 0.8rem;
      }
    }

    .ranked-info-box3 {
      grid-column: span 3;
      margin-bottom: 1.5rem;
      text-align: center;
    }
  }
}

.doughnut-chart-container {
  .doughnut-chart {
    margin-left: auto;
    margin-right: auto;
    #winrate {
      padding-top: 1rem;
    }
  }
  p {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-size: 16px;
    letter-spacing: 4px;
  }
  .kda-container {
    margin: 5rem 2rem;
    display: flex;
    gap: 1.5rem;
    flex-flow: row nowrap;
    justify-content: center;

    .vr-divider {
      border: 0;
      width: 3px;
      margin: -0.5rem 0;
      background-image: linear-gradient(
        to bottom,
        rgba(125, 250, 164, 0),
        rgba(125, 250, 164, 1),
        rgba(125, 250, 164, 0)
      );
    }

    .kda-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-evenly;

      h1 {
        margin-top: 0.25rem;
        margin-bottom: 0;
        color: $primary-color-bright-green;
        font-family: 'Gothic A1', sans-serif;
        font-size: 16px;
        letter-spacing: 5px;
        text-align: center;
      }

      p {
        font-size: 14px;
        letter-spacing: 1px;
        margin-top: 0.5rem;
        margin-bottom: 0;
      }
    }

    .losses-container-copy {
      display: none;
    }
  }
}

.league-data {
  .title-icon-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    h1 {
      margin-top: 0;
      margin-bottom: 0;
      font-family: 'Gothic A1', sans-serif;
      font-size: 16px;
    }
  }
}

.compare-button {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 6rem;
  align-self: center;
}

/////////////////////// DESKTOP VIEW ///////////////////////
@media screen and (min-width: 1010px) {
  .player-details-wrapper-1 main {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 1fr 2fr;
    max-width: 1145px;

    .player-information-wrapper {
      box-sizing: border-box;
      padding: 2px;
      background: $border-gradient-color;
      overflow: hidden;
      border-radius: 25px;
      height: 385px;
      margin: 0;
      .player-information {
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 1rem;
        display: flex;
        flex-direction: column nowrap;
        justify-content: space-around;
        margin: 0;
        border-radius: 25px;
        height: 380px;
        background: $background-gradient-color;

        .summoner-division-embled-container {
          margin: 0;
        }
      }

      .secondary:not(.btn-no-background) {
        margin: 0;
      }
    }

    .player-skills {
      grid-column: 2/3;
      grid-row: 1/2;

      .card {
        margin-bottom: 0;
      }

      .card-content {
        .large {
          margin-top: 0.5rem;
          margin-bottom: 0;
        }
        display: grid;
        grid-gap: 3rem;
        row-gap: 0;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 0.4fr 1.5fr 0.5fr;
        height: 380px;

        :nth-child(1) {
          grid-column: span 1;
          grid-row: 1/2;
        }

        :nth-child(3) {
          grid-column: 2/3;
          grid-row: 1/2;
        }

        :nth-child(4) {
          grid-column: 3/4;
          grid-row: 1/2;
        }

        .progress-bar-container {
          grid-column: 1/2;
          grid-row: 2/3;
          margin-bottom: 0;
        }

        .hr-divider {
          display: none;
        }

        .vr-divider {
          display: block;
          grid-column: 2/3;
          grid-row: 1/3;
          border: 0;
          width: 3px;
          height: 85%;
          background-image: linear-gradient(
            to bottom,
            rgba(125, 250, 164, 0),
            rgba(125, 250, 164, 1),
            rgba(125, 250, 164, 0)
          );
          margin: 0.8rem auto 1rem auto;
        }

        .radar-chart {
          display: block;
          grid-column: 3/4;
        }

        .tag-container {
          display: none;
        }

        .button {
          grid-column: span 3;
          grid-row: 3/4;
          margin: 0 auto 0 auto;
        }
      }
    }

    .player-game-data {
      grid-column: span 3;
      grid-row: 2/3;
      margin-right: 1.5rem;

      .card-content {
        display: flex;
        flex-direction: row;
        height: 380px;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        justify-content: space-between;
      }

      .ranked-info-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        .losses-container {
          display: none;
        }

        .vr-divider {
          display: none;
        }

        .ranked-info-box1,
        .ranked-info-box2,
        .ranked-info-box3 {
          text-align: left;
          margin: 0;
          h1,
          p {
            margin: 0;
          }
        }
      }

      .doughnut-chart {
        h1,
        p {
          margin: 0;
        }
      }

      .doughnut-chart-container {
        display: flex;
        flex-flow: row nowrap;


        .kda-container {
          margin: 0;
          margin-left: 0.9rem;

          h1 {
            text-align: left;
          }

          h1,
          p {
            margin: 0;
          }

          margin-top: 0;
          margin-bottom: 0;
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-between;
          .vr-divider {
            display: none;
          }

          .losses-container-copy {
            display: block;

            h1 {
              font-family: 'Gothic A1', sans-serif;
              font-size: 16px;
            }

            p {
              font-size: 32px;
              font-weight: 700;
              font-family: 'Chakra Petch', sans-serif;
            }
          }
        }
      }

      .vr-divider {
        grid-column: 3/4;
        display: block;
        border: 0;
        width: 3px;
        height: 85%;
        background-image: linear-gradient(
          to bottom,
          rgba(125, 250, 164, 0),
          rgba(125, 250, 164, 1),
          rgba(125, 250, 164, 0)
        );
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 1rem;
        margin-top: 0.8rem;
      }

      .league-data {
        grid-column: 4/5;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        .title-icon-container {
          margin-bottom: 1rem;
        }
      }
    }

    .compare-button {
      grid-column: span 3;
      grid-row: 3/4;
      margin-top: 3rem;
    }
  }
}
