.player-review {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .nav-side-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .nav-desktop {
    display: none;
  }
  .leftIcon {
    cursor: pointer;
  }

  h1 {
    font-size: 2rem;
  }
  .skills-headline-wrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 80%;
    margin: auto;
  }

  .tag {
    margin: 0.4rem 0.2rem;
  }

  .progress-wrapper,
  .all-sliders-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 25rem;
    margin: auto;
  }
  .progressbar-label-container {
    display: flex;
    flex-direction: column;
    gap: .2rem;
  }

  .player-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    padding: 1.3rem 2rem;
    margin: auto;
    h1 {
      font-size: 1.5rem;
    }
  }

  .hr-divider {
    margin: 4rem 2rem;
  }

  .techinical-skills {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  .review-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 90%;
    margin: auto;
    .button {
      background: $primary-color-bright-green;
      border-radius: 49px;
      padding: .8rem 1.3rem;
      margin: 0.4rem 0.2rem;
      font-size: unset;
      width: unset;
      height: unset;
      border: 2px solid $primary-color-bright-green;
      font-size: 1.1rem;
    }
    .button-outline {
      border: 2px solid $primary-color-bright-green;
      background-color: unset;
    }
  }
  .submit-wrapper {
    margin: 3rem 0;
  }

  @media screen and (min-width: 600px) {
    margin: 0 auto;
    gap: 4rem;
    header,
    .nav-side-menu {
      display: none;
    }
    .nav-desktop {
      flex-basis: 100%;
      display: flex;
      justify-content: space-between;
      padding: 3rem 5rem 0 5rem;
    }
    h1 {
      font-size: 2.3rem;
    }
    .skills-headline-wrapper {
      gap: 2rem;
    }
    .progress-wrapper,
    .all-sliders-container {
      gap: 2rem;
      width: 40rem;
      max-width: 90%;
    }
    .hr-divider {
      margin: 4rem 5rem;
    }
    .review-buttons {
      max-width: 40rem;
      .button {
        margin: 0.5rem;
      }
    }
    .add-reviews {
      max-width: 60%;
    }
    .techinical-skills {
      flex-flow: row nowrap;
      gap: 0;
      margin: auto;
      max-width: 90%;
    }
  }
}
