header {
  padding: 1rem;

  .main-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .logo-desktop {
      display: none;
    }
  }

  .nav-header-menu {
    display: none;
  }

  .side-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 48px;
    height: 48px;
  }
}

@media screen and (min-width: 600px) {
  header {

    .main-footer {
      .logo-desktop {
        display: block;
      }
      .logo-mobile {
        display: none;
      }
    }

    .nav-header-menu {
      display: flex;
      flex-flow: row nowrap;
      justify-content: right;
      gap: 1rem;

      button {
        display: none;
      }
    }
    .side-button {
      display: none;
    }
  }
}
