header {
  width: 100%;
  padding: 1rem;
  margin: 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  .logo-desktop {
    display: none;
  }

  .nav-header-menu {
    display: none;

    a {
      text-decoration: none;
      color: $primary-color-bright-green;
    }
  }

  .side-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 48px;
    height: 48px;
  }
}

@media screen and (min-width: 600px) {
  .top-players-page header {
    width: 100%;
    padding: 1rem;
    margin: 0;
    display: unset;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .logo-desktop {
      display: none;
    }

    .logo-mobile {
      display: unset;
    }

    .side-button {
      display: unset;
    }

    .nav-header-menu {
      display: none;

      a {
        text-decoration: none;
        color: $primary-color-bright-green;
      }

      .side-button {
        background: none;
        border: none;
        cursor: pointer;
        width: 48px;
        height: 48px;
      }
    }
  }

  header {
    padding-top: 1rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    .logo-desktop {
      display: block;
    }
    .logo-mobile {
      display: none;
    }

    .nav-header-menu {
      display: flex;
      flex-flow: row nowrap;
      justify-content: right;
      gap: 1rem;

      a {
        margin-left: 2rem;
        padding: 0.25rem 1.2rem;
      }

      a:nth-of-type(2) {
        border: 3px solid $primary-color-bright-green;
        border-radius: 0.5rem;
      }

      button {
        display: none;
      }
    }
    .side-button {
      display: none;
    }
  }
}
