.App {
  display: grid;
  grid-template-columns: 1fr;
  overflow-x: hidden;
}

.nav-side-menu {
  background: $togglemenu-background-gradient-color;
  grid-column: 1/-1;
  grid-row: 1/-1;
  height: 100vh;
  z-index: 100;
  transform: translateX(100%);
  transition: all 0.5s;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;

  .top-nav-side-menu {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    button {
      background: none;
      border: none;
      cursor: pointer;
      justify-self: left;
      text-align: left;
    }
    img {
      justify-self: center;
    }
  }

  a {
    padding: 2rem;
    padding-left: 3rem;
    margin: 0 2rem;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, rgba(125, 250, 164, 0%), rgba(125, 250, 164, 100%), rgba(125, 250, 164, 0%));
  }
}

.main-wrapper {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.show-nav-menu {
  transform: translateX(0);
}
