.App {
    display: grid;
    grid-template-columns: 1fr;
    overflow-x: hidden;
}

.nav-side-menu {
    background-color: rgba(36, 36, 36, 0.544);
    grid-column: 1/-1;
    grid-row: 1/-1;
    height: 100vh;
    z-index: 100;
    transform: translateX(100%);
    transition: all .5s;
}

.main-wrapper {
    grid-column: 1/-1;
    grid-row: 1/-1;
}

.show-nav-menu {
    transform: translateX(0);
}